body {
    background-image: url(sun.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin: 0;
    transition: background-image 0.5s ease;
}

#clock-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 2px solid;
}

#clock {
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: black;
    backdrop-filter: blur(5px);
}

#mode-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.3);
    color: white;
    transition: 0.3s;
}

#mode-btn:hover {
    background-color: rgba(0,0,0,0.6);
}